@tailwind base;
@tailwind components;
@tailwind utilities;





.bg-img{
    width: 95vw;
    height: 93vh;
    background-image:  url('https://images.pexels.com/photos/6624559/pexels-photo-6624559.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    
    
};

